# Build Folders (you can keep bin if you want to include compiled output)
bin/
obj/

# Visual Studio files
*.suo
*.user
.vs/

# NuGet Packages
packages/

# Log files
*.log
*.cache

# Rider IDE files (if using JetBrains Rider)
.idea/

# Miscellaneous
*.dbmdl
